/* navigation.component.css */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #151608;
    border-radius: 20px;
    position: fixed;
    width: 100%;
    height: 50px;
    perspective: 1000px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    position: relative;
    transform-style: preserve-3d;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.navbar a:hover {
    transform: translateY(-5px);
}

.navbar a.active {
    background-color: #555;
}

img {
    width: 10%;
    height: 100%;
    padding-right: 1%;
    padding-left: 1%;
}


/* Add this to your component's CSS file or your global styles */
